<?xml version="1.0" encoding="UTF-8"?>
<properties>
    <category name="General">
        <property name="DE_BUG" value="1" />
        <property name="MAX_HOT" value="12" />
        <property name="MAX_TOP" value="18" />
        <property name="MAX_ROW_IN_CAT" value="12" />
        <property name="URL_RELOAD" value="" />
        <property name="URL_FIREWALL" value="" />
    </category>
    <category name="EMAIL"> 
        <property name="SMTP_MAIL" value="" />
        <property name="SMTP_PASS" value="" />
        <property name="MAIL_HOST" value="" />
        <property name="FROM_NAME" value="" />
        <property name="MAIL_DEBUG" value="" />
    </category>
</properties>